<div class="container px-4">
  <h1>Food ninja</h1>

  <ul>
    <li>
      <span>Home</span>
    </li>
    <li>
      <span>About</span>
    </li>
    <li>
      <span>Contact</span>
    </li>
  </ul>

  <main>
    <div>
      <p>Log in</p>
      <p>Sign up</p>
    </div>
  </main>

  <header>
    <h2>Recipes</h2>
    <h3>For ninjas</h3>
  </header>

</div>